@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background: #000 !important;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-inter);
  background-color: #000 !important;
  color: #fff;
  overscroll-behavior: none;
  background-size: cover;
}

svg {
  flex-shrink: 0;
}

@keyframes spinning {
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2700deg);
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes seaWaving {
  100% {
    transform: translateX(50%);
  }
}
